.config/Min
.config/htop
.config/go
.config/dconf
.config/gtk-3.0
.config/pulse
.config/spotify
.config/yay
.config/.avalonia-build-tasks
.config/fcitx
.config/fcitx5
.config/godot
.config/ibus
.config/mozc
